.panel
  display: flex
  flex-wrap: nowrap
  height: 75vh
  max-height: 75vh
  overflow-x: auto

.btn
  text-align: left

.light-grey-txt
  color: #bebebe

.list-group-item, .card, .card-header
  background: transparent

.card, .card-header
  border: none
