<app-frosted-glass-panel>
  <section class="container">

    <div class="row">
      <h1 class="col-xs-12 col-sm-9">Steam library explorer</h1>
      <div class="col-xs-12 col-sm-3">
        <select [ngModel]="selectedLanguage" (ngModelChange)="selectLang($event)"
                class="form-control form-control-sm">
          <option *ngFor="let lang of languages" [ngValue]="lang">{{lang.displayText}}</option>
        </select>
      </div>
    </div>
    <label for="username" class="form-label sr-only">Steam username</label>

    <form class="col-lg-5 col-md-7 col-sm-8 col-xs-12" (ngSubmit)="loadUser()">
      <div class="input-group">
        <span class="input-group-text" id="prefix-addon">Username</span>
        <input type="text" class="form-control" id="username" aria-describedby="prefix-addon" [formControl]="username"
               [class.is-invalid]="error">
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          <ng-template [ngIf]="!loading">Search</ng-template>
          <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
        <div class="invalid-feedback">
          Erreur lors du chargement de la bibliothèque, vérifiez que le nom est correct et vos paramètres de
          confidentialité.
        </div>
      </div>
    </form>
  </section>
</app-frosted-glass-panel>

<app-frosted-glass-panel *ngIf="games">
  <div class="panel rounded" *ngIf="!isMobile">
    <div class="align-items-stretch border-end col-xl-3 col-lg-4 col-md-4 col-sm-5 p-0 scrollarea">
      <div class="list-group list-group-flush border-bottom">

        <a *ngFor="let game of games" (click)="selectGame(game)"
           [class.active]="selectedGame && selectedGame.id === game.id"
           class="list-group-item list-group-item-action py-2" aria-current="true">
          <img class="rounded mr-2" [src]="game.icon" [alt]="game.name + ' icon'"/>
          <strong class="mb-1">{{game.name}}</strong>
        </a>

      </div>
    </div>
    <app-steam-game *ngIf="selectedGame" class="scrollarea col-xl-9 col-lg-8 col-md-8 col-sm-7 p-0"
                    [game]="selectedGame"></app-steam-game>
  </div>

  <div id="accordion" *ngIf="isMobile">
    <div *ngFor="let game of games" class="card">
      <div class="card-header p-0" [id]="'heading-'+game.id" (click)="selectGame(game)">
        <h5 class="mb-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-'+game.id"
            [attr.aria-controls]="'collapse-'+game.id">
          <button class="btn collapsed light-grey-txt" aria-expanded="false">
            <img class="rounded mr-2" [src]="game.icon" [alt]="game.name + ' icon'"/>
            <strong>{{game.name}}</strong>
          </button>
        </h5>
      </div>

      <div [id]="'collapse-'+game.id" class="collapse" [attr.aria-labelledby]="'heading-'+game.id"
           data-bs-parent="#accordion">
        <div class="card-body p-0 col-12">
          <app-steam-game *ngIf="selectedGame && selectedGame.id == game.id" [game]="selectedGame"></app-steam-game>
        </div>
      </div>
    </div>
  </div>

</app-frosted-glass-panel>
