<app-header></app-header>
<section class="main-container" [ngClass]="fullWidth ? 'container-fluid' : 'container'">
  <router-outlet></router-outlet>
</section>
<app-footer class="mt-auto"></app-footer>
