<div class="container">
  <app-frosted-glass-panel>
    <div class="page-header">
      <h1>Chatbot</h1>
    </div>
    <p>Here you can try to discuss with an <a href="https://platform.openai.com/">OpenAI</a> chatbot</p>
    <p>You must set an <a href="https://platform.openai.com/account/api-keys">API Key</a> then you can use the prompt to
      start the discussion</p>
  </app-frosted-glass-panel>

  <app-frosted-glass-panel>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">API Key</span>
      </div>
      <input type="text" class="form-control" id="apikey" aria-describedby="prefix-addon" [formControl]="apikey">
    </div>

    <form (ngSubmit)="sendChat()" class="mb-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Message</span>
        </div>
        <input [disabled]="loading" type="text" class="form-control" id="prompt" aria-describedby="prefix-addon" autocomplete="off"
               [formControl]="prompt">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">Send</button>
    </form>
  </app-frosted-glass-panel>

    <app-frosted-glass-panel *ngFor="let message of chat.messages">
      <p class="role">{{message.getDisplayName()}}</p>
      <markdown data="{{message.value}}"></markdown>
    </app-frosted-glass-panel>

    <app-frosted-glass-panel *ngIf="loading">
      <p class="role">{{BOT_NAME}}</p>
      <p class="spinner-border"><span class="sr-only">Loading...</span></p>
    </app-frosted-glass-panel>
    <app-frosted-glass-panel [danger]="true" *ngIf="error">
      <p> An error occured, please verify your API key or try again later </p>
    </app-frosted-glass-panel>
</div>
