<footer>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text mx-auto">
      Made with <fa-icon [icon]="['fas', 'heart']"></fa-icon>, <fa-icon [icon]="['fab', 'angular']"></fa-icon> and Quarkus by Mathiewz
    </span>
  </nav>
</footer>
