.frosted-glass
  background: rgba(100, 100, 100, 0.4)
  border-radius: 16px
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(10px)
  -webkit-backdrop-filter: blur(10px)
  padding: 1em
  margin-bottom: 1em
  &.frosted-glass-danger
    background: rgba(200, 50, 50, 0.4)

