<app-frosted-glass-panel>
  <div class="page-header">
    <h1>Gitlab projects</h1>
  </div>

  <p>All those gitlab projects and data are fetched through the <a href="https://docs.gitlab.com/ce/api/">gitlab API</a>.<br/>
    Charts are builded thanks to chartjs & ng2-charts.</p>
</app-frosted-glass-panel>

<app-frosted-glass-panel>
  <h2>Personal projects</h2>
  <p>Here are all my gitlab projects.</p>
</app-frosted-glass-panel>

<spinner [waitingFor]="personalProjects">
  <div class="row">
    <app-frosted-glass-panel *ngFor="let project of personalProjects;" class="col-12 col-md-6">
      <git-card [project]="project"></git-card>
    </app-frosted-glass-panel>
  </div>
</spinner>

<app-frosted-glass-panel>
  <h2>Contributed projects</h2>
  <p>Here are all gitlab projects I contributed on</p>
</app-frosted-glass-panel>

<spinner [waitingFor]="contributedProjects">
  <div class="row">
    <app-frosted-glass-panel *ngFor="let project of contributedProjects;" class="col-12 col-md-6">
      <git-card [project]="project"></git-card>
    </app-frosted-glass-panel>
  </div>
</spinner>
