<app-frosted-glass-panel>
  <h1>Blog</h1>
  <p>Welcome to my blog, here are my posts.</p>
</app-frosted-glass-panel>

<spinner [waitingFor]="posts">
  <app-frosted-glass-panel *ngFor="let post of posts;" class="blog-post" routerLink="/blog/{{post.fileLocation}}">
    <p class="float-right text-right d-none d-sm-block col-sm-4 col-md-3 col-lg-2">{{post.date | date :'longDate'}}</p>
    <h3 class="col-sm-8 col-md-9 col-lg-10">{{post.title}}</h3>
    <h6 class="col-12">{{post.subTitle}}</h6>
  </app-frosted-glass-panel>
</spinner>


