.carousel
  margin-bottom: 40px

.carousel-indicators
  bottom: -40px

  li
    width: 10px
    height: 10px
    border-radius: 100%
    background-color: black

.game-info
  position: relative

#steam-button
  width: 180px
  position: absolute
  top: 10px
  left: 10px

#banner-image
  width: 100%
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%)

::ng-deep .game-info img
  max-width: 100%
