<div class="game-info">
  <img [src]="game.banner" id="banner-image" alt="Banner image"/>
  <div class="container pt-3">
    <h1>{{game.name}}</h1>
    <a class="btn btn-dark btn-lg" id="steam-button" [href]="'https://store.steampowered.com/app/'+game.id"
       target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'steam']"></fa-icon>
      Steam store</a>

    <div id="screenshots" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" *ngFor="let _ of game.movies; let isFirst = first; let idx = index"
            data-bs-target="#screenshots" [attr.data-bs-slide-to]="idx" [class.active]="isFirst"></button>
        <button type="button" *ngFor="let _ of game.screenshots; let isFirst = first; let idx = index"
            data-bs-target="#screenshots" [attr.data-bs-slide-to]="idx + game.movies.length"
            [class.active]="isFirst && !game.movies.length"></button>
      </div>

      <div class="carousel-inner">

        <div *ngFor="let movie of game.movies; let isFirst = first;" class="carousel-item"
             [class.active]="isFirst">
          <video class="img-fluid col-12" [poster]="movie.thumbnail" controls>
            <source [src]="movie.url" type="video/webm"/>
          </video>
        </div>
        <div *ngFor="let screen of game.screenshots; let isFirst = first;" class="carousel-item"
             [class.active]="isFirst && !game.movies.length">
          <img class="d-block w-100" [src]="screen" alt="screenshot">
        </div>
      </div>

    </div>

    <p [innerHTML]="game.description"></p>
  </div>
</div>
