<div class="card-body row" style="padding: 1em">
  <div class="col-12 col-lg-4">
    <h5 class="card-title">{{project.name}}</h5>
    <p class="card-text">{{project.description}}</p>
    <a class="card-link" href="{{project.linkToSource}}">Link to repo</a>
    <a class="card-link" *ngIf="project.linkToCentral != ''" href="{{project.linkToCentral}}">Link to central</a>
  </div>
  <div class="col-12 col-lg-8">
    <canvas baseChart
            [datasets]="[{data : this.languageChartData, borderWidth: 0, backgroundColor: this.colors}]"
            [options]="{plugins: {legend: {labels: {color: '#bebebe'}}}}"
            [labels]="this.languageChartLabels"
            [type]="'doughnut'"
    >
    </canvas>
  </div>
</div>
