<app-frosted-glass-panel>
  <div class="page-header">
    <h1>Welcome!</h1>
  </div>
  <p>Welcome to my portfolio.</p>
  <p>The front-end of this application is developed with Angular. <br/>
    The back-end is developed with Java and the framework Quarkus. An older version of the backend was made using Spring framework with the same features.<br/>
    Both applications (front & back) are deployed to Amazon Web Service automatically thanks to gitlab-ci.</p>
  <p>All sources are available <a href="https://gitlab.com/mathiewz/homepage">here</a></p>

  <p>You can see all my public project <a [routerLink]="['/gitlab']">here</a> </p>
</app-frosted-glass-panel>

<app-frosted-glass-panel>
  <h2>About me</h2>
  <app-word-cloud></app-word-cloud>
</app-frosted-glass-panel>
