<app-frosted-glass-panel>
  <h1>Contact me</h1>
</app-frosted-glass-panel>

<app-frosted-glass-panel>
  <form class="col-md-6 col-xs-12" #userForm="ngForm" (ngSubmit)="contact(userForm.value)">
    <div class="form-group row mb-1">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="from" class="form-control" id="inputEmail" placeholder="Email" ngModel>
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="inputSubject" class="col-sm-2 col-form-label">Subject</label>
      <div class="col-sm-10">
        <input type="text" name="subject" class="form-control" id="inputSubject" placeholder="Subject" ngModel>
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="message" id="inputMessage" placeholder="Message" rows="3" ngModel></textarea>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</app-frosted-glass-panel>
