<app-frosted-glass-panel>
  <div class="page-header">
    <h1>Github projects</h1>
  </div>

  <p>All those github projects and data are fetched through the <a href="https://developer.github.com/v3/">github API</a>.<br/>
    Charts are builded thanks to chartjs & ng2-charts.</p>
  <p>Because of github API limitations, data are cached into back-end thanks to Caffeine.<br/>
    The cache is refreshed every 20 minutes.</p>
</app-frosted-glass-panel>

<app-frosted-glass-panel>
  <h2>Personal projects</h2>
  <p>Here are all my github projects.</p>
</app-frosted-glass-panel>

<spinner [waitingFor]="personalProjects">
  <div class="row">
    <app-frosted-glass-panel *ngFor="let project of personalProjects;" class="col-12 col-md-6">
      <git-card [project]="project"></git-card>
    </app-frosted-glass-panel>
  </div>
</spinner>
