<nav class="navbar bg-body-tertiary sticky-top navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/img/profile.jpeg" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
      Mathiewz
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><fa-icon [icon]="['fas', 'home']"></fa-icon> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog"><fa-icon [icon]="['fas', 'comment-alt']"></fa-icon> Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="headerProjectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <fa-icon [icon]="['fab', 'git-alt']"></fa-icon> Projects
          </a>
          <ul class="dropdown-menu " aria-labelledby="headerProjectsDropdown">
            <li><a class="dropdown-item" routerLink="/gitlab" ><fa-icon [icon]="['fab', 'gitlab']"></fa-icon> Gitlab</a></li>
            <li><a class="dropdown-item" routerLink="/github" ><fa-icon [icon]="['fab', 'github']"></fa-icon> Github</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="headerLabDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <fa-icon [icon]="['fas', 'flask']"></fa-icon> Lab
          </a>
          <ul class="dropdown-menu " aria-labelledby="headerLabDropdown">
            <li><a class="dropdown-item" routerLink="/lab/steam" ><fa-icon [icon]="['fab', 'steam']"></fa-icon> Steam Library Explorer</a></li>
            <li><a class="dropdown-item" routerLink="/lab/chat" ><fa-icon [icon]="['fas', 'comment']"></fa-icon> Chatbot</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><fa-icon [icon]="['fas', 'address-book']"></fa-icon> Contact</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav d-flex">
      <li *ngFor="let social of socialLink" class="nav-item">
        <a class="nav-link" [href]=social.link target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', social.icon]"></fa-icon></a>
      </li>
    </ul>
  </div>
</nav>
